@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.beating-icons {
  --fa-animation-duration: 5s;
  width: 70px;
  height: 70px;
  padding: 8px;
  --fa-beat-scale: 1.1;
}

.tech-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los ítems se envuelvan a la siguiente línea si es necesario */
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Espacio entre cada ítem */
}

.content{  
  padding:5% 10%;
  text-align:justify;
  font-family: 'Josefin Sans', sans-serif;
}
.btn-follow ,.btn-follow-i{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600;
}

.twtr{
  margin-top:10px;
}
.btn-follow.twtr:after {
  content:"\1F426";
  padding-left:5px;
}

.btn-follow-i.twtr:after {
  content:"📸";
  padding-left:5px;
}